<a href="https://colab.research.google.com/github/KYUSEONGHAN/pandas-tutorial/blob/master/ch04_%EB%8B%A4%EC%A4%91_%EC%BB%AC%EB%9F%BC%2C_%EB%A1%9C%EC%9A%B0_%EC%84%A0%ED%83%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/DACON/df03.csv')
df

    도시       인구수        남자        여자
0   서울   9741381   4757642   4984229
1   부산   3416918   1680933   1735985
2   인천   2925967   1472081   1453886
3   대구   2453041   1218326   1234715
4   대전   1525849    765718    760131
5   광주   1496172    745122    751050
6   수원   1193894    601097    592797
7   울산   1147037    589233    557804
8   고양   1068641    523803    544838
9   용인   1061440    526824    534617
10  총합  26030340  12880779  13150052

In [ ]:
df[2:-2]

   도시      인구수       남자       여자
2  인천  2925967  1472081  1453886
3  대구  2453041  1218326  1234715
4  대전  1525849   765718   760131
5  광주  1496172   745122   751050
6  수원  1193894   601097   592797
7  울산  1147037   589233   557804
8  고양  1068641   523803   544838

In [ ]:
df[-2:]

    도시       인구수        남자        여자
9   용인   1061440    526824    534617
10  총합  26030340  12880779  13150052

In [ ]:
# 1. pd.DataFrame.loc : 로우와 컬럼의 인덱스로 데이터에 접근
# 2. pd.DataFrame.iloc : 로우와 컬럼의 위치로 데이터에 접근
df.loc[[0,2,4,7,9], ['인구수', '남자', '여자']]

       인구수       남자       여자
0  9741381  4757642  4984229
2  2925967  1472081  1453886
4  1525849   765718   760131
7  1147037   589233   557804
9  1061440   526824   534617

In [ ]:
df.loc[2:5, '인구수': '여자']

       인구수       남자       여자
2  2925967  1472081  1453886
3  2453041  1218326  1234715
4  1525849   765718   760131
5  1496172   745122   751050

In [ ]:
df.iloc[[2,3,4,5],[1,3]]

       인구수       여자
2  2925967  1453886
3  2453041  1234715
4  1525849   760131
5  1496172   751050

In [ ]:
df = df.loc[[3,4,5], ['인구수','남자','여자']]
df

       인구수       남자       여자
3  2453041  1218326  1234715
4  1525849   765718   760131
5  1496172   745122   751050

In [ ]:
df.to_csv('/content/gdrive/MyDrive/DACON/df04.csv', index=False, header=True)

In [18]:
pd.read_csv('/content/gdrive/MyDrive/DACON/df04.csv')

       인구수       남자       여자
0  2453041  1218326  1234715
1  1525849   765718   760131
2  1496172   745122   751050